@if (assignment) {
<div class="p-6">
  <div
    class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5"
  >
    <div class="flex justify-between mb-6">
      <!-- Information sur l'eleve et assignment -->
      <div class="flex items-center mb-1">
        <div class="flex-shrink-0 w-10 h-10 relative">
          <div class="p-1 bg-white rounded-full focus:outline-none focus:ring">
            <!-- <img class="w-8 h-8 rounded-full" src="https://laravelui.spruko.com/tailwind/ynex/build/assets/images/faces/9.jpg" alt=""/> -->
            <img
              class="w-8 h-8 rounded-full"
              [src]="assignment.etudiant.avatar"
              alt=""
            />
          </div>
        </div>
        <div class="p-2 md:block text-left">
          <h2 class="text-sm font-semibold text-gray-800">
            {{ assignment.nom }}
          </h2>
          <p class="text-xs text-gray-500">{{ assignment.dateRendu }}</p>
        </div>
      </div>

      <!-- Information sur le prof -->
      <div class="flex items-center mb-1">
        <div class="flex-shrink-0 w-10 h-10 relative">
          <div class="p-1 bg-white rounded-full focus:outline-none focus:ring">
            <img
              class="w-8 h-8 rounded-full"
              [src]="assignment.matiere.professeur.avatar"
              alt=""
            />
          </div>
        </div>
        <div class="p-2 md:block text-left">
          <h2 class="text-sm font-semibold text-gray-800">
            {{ assignment.matiere.professeur.nom }}
          </h2>
        </div>
      </div>
    </div>
    <!-- Information sur la matiere -->
    <div class="flex items-center mb-1">
      <div class="flex-shrink-0 w-10 h-10 relative">
        <div class="p-1 bg-white rounded-full focus:outline-none focus:ring">
          <img
            class="w-8 h-8 rounded-full"
            [src]="assignment.matiere.image"
            alt=""
          />
        </div>
      </div>
      <div class="p-2 md:block text-left">
        <h2 class="text-sm font-semibold text-gray-800">
          {{ assignment.matiere.nom }}
        </h2>
      </div>
    </div>
    <div class="flex justify-between p-2 mt-4">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        <fa-icon [icon]="faEdit"></fa-icon>
        Edit
      </button>
      <button
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
      >
        <fa-icon [icon]="faDelete"></fa-icon>
        Delete
      </button>
    </div>
  </div>
</div>

}
